body {
    margin: 0;
    font-family: 'Muli', sans-serif;;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.header_title {
    font-size: 18;
    font-weight: bold;
}

.header_navigation {
    font-size: 18;
    font-weight: bold;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.header_navigation>li {
    margin-left: 30px;
}

.main {

}

.main_title {
    font-size: 40px;
    font-weight: bold;
    padding-top:100px;
    padding-bottom: 30px;
}

.main_text {
    font-size: 16px;
    font-weight: normal;
}

.main_list {
    font-size: 18;
    font-weight: bold;    

}

.main_list--firstcolumn {
    list-style: none;
    opacity: 50%;

}

.main_list--secondcolumn {
    list-style: none;
    
}

.main_img--middle {


}

.main_text--bottom {
    font-family: Muli;
    font-weight: normal;
    font-size: 16px;
    opacity: 0.8;
    padding-top: 45px;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;

}


.footer_title {
    font-size: 18;
    font-weight: bold;
}

.footer_navigation {
    font-size: 18;
    font-weight: bold;
    list-style: none;
    display: flex;
    justify-content: space-around;

}

.footer_navigation>li {
    margin-left: 30px;
    margin-right: 60px;
}

.fab fa-dribbble {

}

.fab fa-instagram {

}

.fab fa-twitter {

}