body {
    margin: 0;
    font-family: 'Muli', sans-serif;;
}

.header {
    width: 100%;
    width: 1109px;
    height: 23px;
    left: 125px;
    top: 61px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.header_title {
    font-size: 18;
    font-weight: bold;
}

.header_navigation {
    font-size: 18;
    font-weight: bold;
    list-style: none;
    display: flex;
}

.header_navigation>li {
    margin-left: 30px;
}

.screen {
    margin-left: 125px;
    margin-right: 125px;
    box-sizing: border-box;
}

.main_title {
    
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    width: 475px;
    height: 121px;
    left: 125px;
    top: 194px;
}

.main_text {
    font-size: 16px;
    font-weight: normal;
    width: 635px;
    height: 222px;
    left: 125px;
    top: 343px;
}

.main_list {
    font-size: 18;
    font-weight: bold;
    width: 335px;
    height: 343px;
    top: 222px;
    left: 900px;
    position: absolute;
}

.main_img--center {
    width: 1110px;
    height: 660px;
    left: 125px;
    top: 626px;
}

.main_text--bottom {
    font-family: Muli;
    font-weight: normal;
    font-size: 14px;
    opacity: 0.8;
    
    width: 1109px;
    height: 93px;
    left: 125px;
    top: 1331px;
}

.img_bottom {
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(6, 1fr);
    justify-content: space-evenly;
    grid-gap: 30px;;
    top: 1469px;
    right: 125px;
    left: 125px;
}

.img_bottom--left {
    grid-column: 1 / 5;
    grid-row: 1 / 7;
    width: 350px;
}

.img_bottom--middle {
    grid-column: 5 / 9;
    grid-row: 1 /7;
    width: 350px;
}

.img_bottom--right {
    grid-column: 9 / 13;
    grid-row: 1 / 7;
    width: 350px;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    width: 1110px;
    height: 23px;
    left: 125px;
    top: 2001px;
}

.footer_title {
    font-size: 18;
    font-weight: bold;
    margin-left: 50px;
}

.footer_navigation {
    font-size: 18;
    font-weight: bold;
    list-style: none;
    box-sizing: border-box;
    display: flex;
    margin-left: 200px;
}

.footer_navigation>li {
    margin-right: 30px;
}

.footer_icons {
    display: flex;
    justify-content: flex-end;
    padding-left: 20px;
    margin-right: 60px;
}

.fab fa-instagram {
    padding-left: 20px;
}

.fab fa-twitter {
    padding-left: 20px;
}